.card{
    width: 100px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
}

.cardtitle{
    text-align: center;
    color: skyblue;
}

.carddesc{
    color: green;
    font-weight: bold;
    text-align: center;
}

.mybtn2{
    border: none;
    background-color: rgb(43, 43, 135);
    color: white;
    cursor: pointer;
    padding: 10px 5px 10px 5px;

}

.sociallink{
    display: flex;
    list-style-type: none;
    
}

.sociallink img{
    width: 60px;

}